.brent{
  margin-top: 8%;

  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 46px;
  @include media-landscape-phones{
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
  }
    picture,
      source,
      img{
      max-width: 100%;
    }
}