@font-face{
font-family: Gilroy;
    font-display: swap;
    src: url(".../fonts/Gilroy-Bold.woff2") format("woff2"),url(..fonts/Gilroy-Bold.woff) format("woff");
    font-weight:700;
    font-style: normal;
}

@font-face{
font-family: Gilroy;
    font-display: swap;
    src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),url(..fonts/Gilroy-Medium.woff) format("woff");
    font-weight:400;
    font-style: normal;
}

@font-face{
font-family: Gilroy;
    font-display: swap;
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),url(..fonts/Gilroy-Regular.woff) format("woff");
    font-weight:400;
    font-style: normal;
}

@font-face{
font-family: Nordin;
    font-display: swap;
    src: url("../fonts/Nordin-Regular.woff2") format("woff2"),url(..fonts/Nordin-Regular.woff) format("woff");
    font-weight:400;
    font-style: normal;
}

@font-face{
font-family: SFProDisplay;
    font-display: swap;
    src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"),url(..fonts/SFProDisplay-Bold.woff) format("woff");
    font-weight:700;
    font-style: normal;
}

@font-face{
font-family: SFProDisplay;
    font-display: swap;
    src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"),url(..fonts/SFProDisplay-Light.woff) format("woff");
    font-weight:400;
    font-style: normal;
}

@font-face{
font-family: SFProDisplay;
    font-display: swap;
    src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),url(..fonts/SFProDisplay-Regular.woff) format("woff");
    font-weight:400;
    font-style: normal;
}

@font-face{
font-family: SFProDisplay;
    font-display: swap;
    src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"),url(..fonts/SFProDisplay-Thin.woff) format("woff");
    font-weight:100;
    font-style: normal;
}

@font-face{
font-family: webfonts;
    font-display: swap;
    src: url("../fonts/webfonts.woff2") format("woff2"),url(..fonts/webfonts.woff) format("woff");
    font-weight:400;
    font-style: normal;
}

