* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:active {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Nordin";
  src: url("../fonts/Nordin-Regular.eot");
  src: local("Nordin Regular"), local("Nordin-Regular"), url("../fonts/Nordin-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nordin-Regular.woff2") format("woff2"), url("../fonts/Nordin-Regular.woff") format("woff"), url("../fonts/Nordin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Bold */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Regular */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Medium */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* SemiBold */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Light.eot");
  src: local("SF Pro Display Light"), local("../fonts/SFProDisplay-Light"), url("../fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Thin.eot");
  src: local("SF Pro Display Thin"), local("../fonts/SFProDisplay-Thin"), url("../fonts/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff"), url("../fonts/SFProDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.eot");
  src: local("SF Pro Display Bold"), local("../fonts/SFProDisplay-Bold"), url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("../fonts/SFProDisplay-Regular"), url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family-SF-Pro: "SF Pro Display";
  --font-family-Nordin: "Nordin";
  --font-family-Montserrat: "Montserrat";
}

h1 {
  font-family: var(--font-family-Nordin);
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
}

h2 {
  font-family: var(--font-family-SF-Pro);
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 23px;
  color: #363636;
}

p,
.main-text {
  font-family: var(--font-family-SF-Pro);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
}

.header {
  margin: auto;
  color: #FFFFFF;
  max-width: 1440px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.header img,
.header srcset {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 900px;
}

.container {
  max-width: 1190px;
  width: 100%;
  padding: 0px 15px;
  margin: auto;
  height: 100%;
}

.top-block {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-burger .fa-times:active,
.menu-burger .fa-bars:active {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.menu-burger .fa-times {
  position: absolute;
  top: -50px;
}

.menu-burger__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -120%;
}

.menu-burger__menu_active {
  left: 40px;
  top: 90px;
  -webkit-animation: menu_active 0.5s ease-in-out;
  animation: menu_active 0.5s ease-in-out;
}

@-webkit-keyframes menu_active {
  0% {
    left: -120%;
  }

  100% {
    left: 40px;
  }
}

@keyframes menu_active {
  0% {
    left: -120%;
  }

  100% {
    left: 40px;
  }
}

.menu-burger__fons {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}

.menu-burger__fons_active {
  background: #FFFFFF;
}

.menu-left {
  margin-right: 88px;
}

.menu-left__list {
  font-weight: 600;
  font-size: 20px;
  color: #363636;
  margin-bottom: 20px;
}

.menu-left .menu-burger__item {
  display: none;
}

.menu-right .menu-burger__item {
  color: #363636;
}

.icons-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons-networks__item {
  margin-left: 40px;
  font-size: 24px;
}

.icons-networks__item input {
  color: #FFFFFF;
  margin-left: 17px;
  background: none;
  border-bottom: 1px solid #FFFFFF;
  padding: 4.5px 0px;
  position: relative;
  top: -4px;
}

.add-naming {
  font-family: var(--font-family-Montserrat);
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
}

.transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 287px;
  height: 70px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 4%;
  background: none;
  cursor: pointer;
}

.transition:visited {
  color: #FFFFFF;
}

.transition:active {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.transition__text {
  font-family: var(--font-family-Montserrat);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 34px;
}

.dop-info {
  margin-top: 125px;
  position: relative;
  bottom: -15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.dop-info__phone {
  margin-right: 10px;
}

.products {
  margin: 105px 0px;
}

.products__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.products__filter {
  font-family: var(--font-family-SF-Pro);
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 23px;
  /* identical to box height, or 77% */
  color: #CCCCCC;
  margin-right: 77px;
  cursor: pointer;
}

.products__filter_active {
  color: #363636;
}

.products__body {
  /* 
  display: flex;
   flex-wrap: wrap;
   align-content: space-between;
   justify-content: space-between;
  */
  display: none;
}

.products__body_active {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 80px;
}

.products__card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 content;
  flex: 1 1 content;
  max-width: 235px;
  width: 100%;
}

.products__card .card__header {
  height: 229px;
  background: #50626C;
}

.products__head {
  font-size: 18px;
}

.products .no-active {
  display: none !important;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__head {
  margin-top: 32px;
  text-align: center;
}

.card__footer {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card__button {
  height: 37.58px;
  width: 100%;
  background: #50626C;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 21px;
}

.pagination__body {
  color: #363636;
}

.pagination__body a:visited {
  color: #363636;
}

.pagination__body li {
  margin: 7px;
  display: inline;
  font-family: var(--font-family-Montserrat);
  line-height: 34px;
}

.pagination__arrow {
  margin: 25px;
}

.pagination__arrow_no-active a:visited {
  color: #ABB2B4;
}

.categories {
  margin-top: 141px;
}

.categories__img,
.categories source {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.categories__img:hover,
.categories__card:hover .categories__img {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}

.categories__body {
  margin: 84px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(373px, 1fr));
  grid-gap: 16px;
}

.categories__card {
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  max-width: 373px;
}

.categories__card .card__header {
  margin-top: 34px;
}

.categories__card .card__body ul {
  max-width: 30%;
  width: 100%;
  margin: 16px auto;
}

.categories__card .card__body ul li {
  text-align: left;
  list-style: disc;
}

.categories__card .card__footer {
  margin-bottom: 24px;
}

.categories__head {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #50626C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories__head svg {
  margin: 15px;
}

.articles__body {
  margin-top: 117px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 22px;
}

.articles__card:nth-child(3n) {
  grid-column: 1/span 2;
  max-width: 100%;
}

.articles__card:nth-child(3n) picture {
  margin-top: 0px;
}

.articles__card {
  font-family: Gilroy;
  font-style: normal;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  max-width: 565px;
  width: 100%;
  padding: 50px;
  color: #50626C;
}

.articles__card picture {
  margin-top: -27%;
}

.articles__head {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.articles__text {
  margin-top: 12px;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.articles .card__body {
  margin-top: 21px;
}

.reviews {
  margin-top: 110px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  color: #50626C;
}

.reviews__body {
  margin-top: 105px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.reviews__card {
  padding: 40px 40px;
  max-width: 364px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.reviews__card:nth-child(2) {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.reviews__head {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.reviews__text {
  font-size: 15px;
  line-height: 34px;
}

.feedback {
  margin-top: 120px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feedback__head {
  font-size: 25px;
  line-height: 25px;
  /* or 100% */
  text-align: center;
  color: #606060;
}

.feedback form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 20px;
  max-width: 440px;
  width: 100%;
  border: 1px solid #E4E5E4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-min {
  font-family: var(--font-family-Montserrat);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.form-min .pole-input {
  margin-top: 8px;
  width: 100%;
  height: 61.41px;
  border: 1px solid #E4E5E4;
  padding: 15px;
}

.form-min button[class=pole-input] {
  font-size: 15px;
  line-height: 34px;
  background: #50626C;
  color: #ffffff;
}

.form-min button[class=pole-input] svg {
  margin-left: 25px;
}

.form-min button[class=pole-input]:active {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.footer {
  padding: 82px;
  border-top: 1px solid #A4A4A4;
  margin: auto;
  max-width: 1240px;
}

.footer__footer {
  height: 100px;
  background: #000000;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__header h2 {
  font-size: 22px;
  line-height: 23px;
}

.footer__header ul {
  padding: 20px;
}

.footer__header ul li {
  margin-top: 10px;
}

.footer__header a:visited {
  color: #363636;
}