<section class="articles container">
    <h2>Статьи</h2>
    <div class="articles__body">
        <article class="articles__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/lehkie-lodki-pvh-01%201.png" alt="boat">
            </div>
            <div class="card__body">
                <h3 class="articles__head">
                  PLANING OF INFLATABLE BOATS AND ALL YOU NEED TO KNOW ABOUT IT
                </h3>
                <p class="articles__text">
                    Planing is one of the most economical transportation options.....
                </p>
            </div>
        </article>
        <article class="articles__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/lehkie-lodki-pvh-01%201.png" alt="boat">
            </div>
            <div class="card__body">
                <h3 class="articles__head">
                    PLANING OF INFLATABLE BOATS AND ALL YOU NEED TO KNOW ABOUT IT
                </h3>
                <p class="articles__text">
                    Planing is one of the most economical transportation options.....
                </p>
            </div>
        </article>
        <article class="articles__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/lehkie-lodki-pvh-01%201.png" alt="boat">
            </div>
            <div class="card__body">
                <h3 class="articles__head">
                    PLANING OF INFLATABLE BOATS AND ALL YOU NEED TO KNOW ABOUT IT
                </h3>
                <p class="articles__text">
                    Planing is one of the most economical transportation options.....
                </p>
            </div>
        </article>
    </div>
</section>