<section class="container delivery-pay basket">
    <article class=" text-blog">
        <h3>Basket</h3>
        <p class="basket__subtext">Lorem ipsum dolor <b>sit</b> amet.</p>
        <div class="basket__item">
            <p class="basket__cells basket__cells_bottom-border"><span>Img</span><span>Name</span><span>Count</span><span>Price</span></p>
            <div class="basket__cells">
                <img src="@@webRoot/static/img/1-200x200%202.png" alt="">
                <p><b>Lorem ipsum dolor sit amet.</b></p>
                <div><p class="basket__count">1</p></div>
                <p ><b><span>43</span><span>000</span><span>р.</span></b></p>
            </div>

        </div>
        <p class="basket__sum-price">total:<span>43</span><span>000</span><span>р.</span></p>
    </article>
    <article class=" basket__addition">
        <h2>Take advantage of additional features</h2>
        <p>If you have a discount coupon code or bonus points that you want to use, select the appropriate item.
            Also, you can (approximately) find out the cost of delivery to your region.</p>
        <div class="basket__buttons">
            <button class="transition"  aria-label="Continue"> Continue
                <svg width="40" height="5" viewBox="0 0 40 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M36.0458 0.996094L38.5791 2.49609L36.0458 3.99609V2.49609V0.996094Z" fill="white"/>
                    <path d="M0.579102 2.49609H38.5791M38.5791 2.49609L36.0458 0.996094V2.49609V3.99609L38.5791 2.49609Z" stroke="white"/>
                </svg>
            </button>
            <button class="transition"  aria-label="Continue"> Continue
                <svg width="40" height="5" viewBox="0 0 40 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M36.0458 0.996094L38.5791 2.49609L36.0458 3.99609V2.49609V0.996094Z" fill="white"/>
                    <path d="M0.579102 2.49609H38.5791M38.5791 2.49609L36.0458 0.996094V2.49609V3.99609L38.5791 2.49609Z" stroke="white"/>
                </svg>
            </button>
        </div>
    </article>
    <article class="basket__checkout">
        <p>Cost:<span>43</span><span>000</span><span>р.</span></p>
        <p>Pickup from the store:<span>0</span><span>р.</span></p>
        <p><b>итого:<span>43</span><span>000</span><span>р.</span></b></p>
        <button class="transition"  aria-label="Continue"> Continue
            <svg width="40" height="5" viewBox="0 0 40 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.0458 0.996094L38.5791 2.49609L36.0458 3.99609V2.49609V0.996094Z" fill="white"/>
                <path d="M0.579102 2.49609H38.5791M38.5791 2.49609L36.0458 0.996094V2.49609V3.99609L38.5791 2.49609Z" stroke="white"/>
            </svg>
        </button>
    </article>
</section>