<section class="container brent">
    <h2>Наши бренды</h2>
    <img src="@@webRoot/static/img/Xconfs.png" alt="Xconfs" >
    <img src="@@webRoot/static/img/Xconfs.png" alt="Xconfs" >
    <img src="@@webRoot/static/img/Xconfs.png" alt="Xconfs" >
    <img src="@@webRoot/static/img/Xconfs.png" alt="Xconfs" >
    <img src="@@webRoot/static/img/Xconfs.png" alt="Xconfs" >
    <img src="@@webRoot/static/img/Xconfs.png" alt="Xconfs" >
    <img src="@@webRoot/static/img/Xconfs.png" alt="Xconfs" >
    <img src="@@webRoot/static/img/Xconfs.png" alt="Xconfs" >
</section>