
<aside class="burger menu">
  <div class="menu__top">
    <img id="burger-turn-off" class="icon" src="@@webRoot/static/img/icons/x.svg" alt="">
  </div>
  <div class="menu__body">
    <nav class="menu__left ">
      <ul class="menu__list">
        <li class="menu__item"><a href="javascript:void(0);" > Accessories for outboard motors </a></li>
        <li class="menu__item"><a href="#"> Boat accessories</a></li>
        <li class="menu__item"><a href="#"> Another</a></li>
        <li class="menu__item"><a href="#"> Spares</a></li>
        <li class="menu__item"><a href="#"> PVC boats and accessories</a></li>
        <li class="menu__item"><a href="#"> Boat motors</a></li>
        <li class="menu__item"><a href="#">Miziz (stainless)</a></li>
        <li class="menu__item"><a href="#"> Trailers, trailer accessories</a></li>
        <li class="menu__item"><a href="#"> lubricant</a></li>
      </ul>
    </nav>
    <nav class="menu__right">
      <ul class="menu__list ">
        <li class="menu__item"><a href="">Propellers</a></li>
      </ul>
    </nav>
  </div>

</aside>