<section class="container categories">
  <h2>Category</h2>
  <div class="categories__body">
    <article class="card categories__card">
      <img src="@@webRoot/static/img/Rectangle%20182.png" alt="Моторы для лодок" class="categories__img">
      <div class="card__header">
        <p class="categories__head">Boat motors</p>
      </div>
      <div class="card__body">
        <ul>
          <li>Gladiator</li>
          <li>Sea-Pro</li>
          <li>Seanovo</li>
          <li>HIDEA (ХАЙДИ)</li>
          <li>Yamaha</li>
        </ul>
      </div>
      <div class="card__footer">
        <a href="" class="categories__head">See all
          <svg width="39" height="3" viewBox="0 0 39 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.7574 0.764238L38 1.5L36.7574 2.23576C36.1874 2.57326 35.4667 2.16241 35.4667 1.5C35.4667 0.837586 36.1874 0.426743 36.7574 0.764238Z" fill="#50626C"/>
            <path d="M0 1.5H38M38 1.5L36.7574 0.764238C36.1874 0.426743 35.4667 0.837586 35.4667 1.5V1.5V1.5C35.4667 2.16241 36.1874 2.57326 36.7574 2.23576L38 1.5Z" stroke="#363636"/>
          </svg>
        </a>
      </div>
    </article>
    <article class="card categories__card">
      <img src="@@webRoot/static/img/Rectangle%20182.png" alt="Boat motors" class="categories__img">
      <div class="card__header">
        <p class="categories__head">Boat motors</p>
      </div>
      <div class="card__body">
        <ul>
          <li>Gladiator</li>
          <li>Sea-Pro</li>
          <li>Seanovo</li>
          <li>HIDEA (ХАЙДИ)</li>
          <li>Yamaha</li>
        </ul>
      </div>
      <div class="card__footer">
        <a href="" class="categories__head">See all
          <svg width="39" height="3" viewBox="0 0 39 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.7574 0.764238L38 1.5L36.7574 2.23576C36.1874 2.57326 35.4667 2.16241 35.4667 1.5C35.4667 0.837586 36.1874 0.426743 36.7574 0.764238Z" fill="#50626C"/>
            <path d="M0 1.5H38M38 1.5L36.7574 0.764238C36.1874 0.426743 35.4667 0.837586 35.4667 1.5V1.5V1.5C35.4667 2.16241 36.1874 2.57326 36.7574 2.23576L38 1.5Z" stroke="#363636"/>
          </svg>
        </a>
      </div>
    </article>
    <article class="card categories__card">
      <img src="@@webRoot/static/img/Rectangle%20182.png" alt="Моторы для лодок" class="categories__img">
      <div class="card__header">
        <p class="categories__head">Boat motors</p>
      </div>
      <div class="card__body">
        <ul>
          <li>Gladiator</li>
          <li>Sea-Pro</li>
          <li>Seanovo</li>
          <li>HIDEA (ХАЙДИ)</li>
          <li>Yamaha</li>
        </ul>
      </div>
      <div class="card__footer">
        <a href="" class="categories__head">See all
          <svg width="39" height="3" viewBox="0 0 39 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.7574 0.764238L38 1.5L36.7574 2.23576C36.1874 2.57326 35.4667 2.16241 35.4667 1.5C35.4667 0.837586 36.1874 0.426743 36.7574 0.764238Z" fill="#50626C"/>
            <path d="M0 1.5H38M38 1.5L36.7574 0.764238C36.1874 0.426743 35.4667 0.837586 35.4667 1.5V1.5V1.5C35.4667 2.16241 36.1874 2.57326 36.7574 2.23576L38 1.5Z" stroke="#363636"/>
          </svg>
        </a>
      </div>
    </article>
    <article class="card categories__card">
      <img src="@@webRoot/static/img/Rectangle%20182.png" alt="Моторы для лодок" class="categories__img">
      <div class="card__header">
        <p class="categories__head">Boat motors</p>
      </div>
      <div class="card__body">
        <ul>
          <li>Gladiator</li>
          <li>Sea-Pro</li>
          <li>Seanovo</li>
          <li>HIDEA (ХАЙДИ)</li>
          <li>Yamaha</li>
        </ul>
      </div>
      <div class="card__footer">
        <a href="" class="categories__head">See all
          <svg width="39" height="3" viewBox="0 0 39 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.7574 0.764238L38 1.5L36.7574 2.23576C36.1874 2.57326 35.4667 2.16241 35.4667 1.5C35.4667 0.837586 36.1874 0.426743 36.7574 0.764238Z" fill="#50626C"/>
            <path d="M0 1.5H38M38 1.5L36.7574 0.764238C36.1874 0.426743 35.4667 0.837586 35.4667 1.5V1.5V1.5C35.4667 2.16241 36.1874 2.57326 36.7574 2.23576L38 1.5Z" stroke="#363636"/>
          </svg>
        </a>
      </div>
    </article>
    <article class="card categories__card">
      <img src="@@webRoot/static/img/Rectangle%20182.png" alt="Моторы для лодок" class="categories__img">
      <div class="card__header">
        <p class="categories__head">Boat motors</p>
      </div>
      <div class="card__body">
        <ul>
          <li>Gladiator</li>
          <li>Sea-Pro</li>
          <li>Seanovo</li>
          <li>HIDEA (ХАЙДИ)</li>
          <li>Yamaha</li>
        </ul>
      </div>
      <div class="card__footer">
        <a href="" class="categories__head">See all
          <svg width="39" height="3" viewBox="0 0 39 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.7574 0.764238L38 1.5L36.7574 2.23576C36.1874 2.57326 35.4667 2.16241 35.4667 1.5C35.4667 0.837586 36.1874 0.426743 36.7574 0.764238Z" fill="#50626C"/>
            <path d="M0 1.5H38M38 1.5L36.7574 0.764238C36.1874 0.426743 35.4667 0.837586 35.4667 1.5V1.5V1.5C35.4667 2.16241 36.1874 2.57326 36.7574 2.23576L38 1.5Z" stroke="#363636"/>
          </svg>
        </a>
      </div>
    </article>
    <article class="card categories__card">
      <img src="@@webRoot/static/img/Rectangle%20182.png" alt="Моторы для лодок" class="categories__img">
      <div class="card__header">
        <p class="categories__head">Boat motors</p>
      </div>
      <div class="card__body">
        <ul>
          <li>Gladiator</li>
          <li>Sea-Pro</li>
          <li>Seanovo</li>
          <li>HIDEA (ХАЙДИ)</li>
          <li>Yamaha</li>
        </ul>
      </div>
      <div class="card__footer">
        <a href="" class="categories__head">See all
          <svg width="39" height="3" viewBox="0 0 39 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.7574 0.764238L38 1.5L36.7574 2.23576C36.1874 2.57326 35.4667 2.16241 35.4667 1.5C35.4667 0.837586 36.1874 0.426743 36.7574 0.764238Z" fill="#50626C"/>
            <path d="M0 1.5H38M38 1.5L36.7574 0.764238C36.1874 0.426743 35.4667 0.837586 35.4667 1.5V1.5V1.5C35.4667 2.16241 36.1874 2.57326 36.7574 2.23576L38 1.5Z" stroke="#363636"/>
          </svg>
        </a>
      </div>
    </article>
    <article class="card categories__card">
      <img src="@@webRoot/static/img/Rectangle%20182.png" alt="Моторы для лодок" class="categories__img">
      <div class="card__header">
        <p class="categories__head">Boat motors</p>
      </div>
      <div class="card__body">
        <ul>
          <li>Gladiator</li>
          <li>Sea-Pro</li>
          <li>Seanovo</li>
          <li>HIDEA (ХАЙДИ)</li>
          <li>Yamaha</li>
        </ul>
      </div>
      <div class="card__footer">
        <a href="" class="categories__head">See all
          <svg width="39" height="3" viewBox="0 0 39 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.7574 0.764238L38 1.5L36.7574 2.23576C36.1874 2.57326 35.4667 2.16241 35.4667 1.5C35.4667 0.837586 36.1874 0.426743 36.7574 0.764238Z" fill="#50626C"/>
            <path d="M0 1.5H38M38 1.5L36.7574 0.764238C36.1874 0.426743 35.4667 0.837586 35.4667 1.5V1.5V1.5C35.4667 2.16241 36.1874 2.57326 36.7574 2.23576L38 1.5Z" stroke="#363636"/>
          </svg>
        </a>
      </div>
    </article>
  </div>
</section>