<section class="container contacts">
    <h2>Contacts</h2>
    <p>In our store you can choose and purchase boats and outboard motors from leading Russian manufacturers. Specialists will advise and select suitable solutions if the goods are not available. You can place an order and arrange delivery to the address</p>
    <article class="gray-table contacts__table ">
        <address>
            <p class="contacts__name">
                Pickup point address in Krasnodar:
            </p>
            <p class="contacts__value">
            Krasnodar, st. Red, 124
            </p>
        </address>
        <address><p class="contacts__name">
            Phone:
        </p> <p class="contacts__value">
            8 (800) 000-00-00 — free call throughout Russia
        </p></address>
        <address><p class="contacts__name">
            Email:
        </p> <p class="contacts__value">
            info@mtbt.ru
        </p></address>
        <address><p class="contacts__name">
           Schedule:
        </p> <p class="contacts__value">
            Вс 10:00-17:00 <br>
            Сб 10:00-19:00 <br>
            Пн-Пт 09:00-20:00
        </p></address>
    </article>
    <div class="contacts__map" id="map"></div>
</section>