<section class="container delivery-pay">
    <h2>Shipping and payment</h2>
    <div class="delivery-pay__main-info">
        <article class="text-blog delivery-pay__big-blog">
            <h3>Delivery</h3>
            <div class="text-blog__blog ">
                <p>Lorem</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur.</li>
                </ul>
            </div>
            <div class="text-blog__blog">
                <p>Lorem</p>
                <ul>
                    <li>Lorem ipsum dolor.</li>
                    <li>Lorem ipsum.</li>
                </ul>
            </div>
            <div class="text-blog__blog">
                <p>Lorem</p>
                <ul>
                    <li>Lorem ipsum.</li>
                </ul>
            </div>
        </article>
        <article class="text-blog">
            <h3>Delivery</h3>
            <div class="text-blog__blog ">
                <p>Lorem</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur.</li>
                </ul>
            </div>
            <div class="text-blog__blog">
                <p>Lorem</p>
                <ul>
                    <li>Lorem ipsum dolor.</li>
                    <li>Lorem ipsum.</li>
                </ul>
            </div>
            <div class="text-blog__blog">
                <p>Lorem</p>
                <ul>
                    <li>Lorem ipsum.</li>
                </ul>
            </div>
        </article>
        <article class="text-blog">
            <h3>Delivery</h3>
            <div class="text-blog__blog ">
                <p>Lorem</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur.</li>
                </ul>
            </div>
            <div class="text-blog__blog">
                <p>Lorem</p>
                <ul>
                    <li>Lorem ipsum dolor.</li>
                    <li>Lorem ipsum.</li>
                </ul>
            </div>
            <div class="text-blog__blog">
                <p>Lorem</p>
                <ul>
                    <li>Lorem ipsum.</li>
                </ul>
            </div>
        </article>
    </div>
    <article class="text-blog">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores ea et excepturi voluptatibus. Aut beatae deserunt eaque eius fugiat illo porro quasi reprehenderit ut vitae. Facere iste provident recusandae</p>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, nesciunt?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, deleniti impedit possimus quasi soluta tempore.</li>
            <li class="text-blog__not-element-list"> not-element-list Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam distinctio earum est eum vel veritatis.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut cumque, deserunt laboriosam praesentium repudiandae.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corporis cumque eligendi similique! Cum, optio.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis distinctio eos officiis quos soluta tempora.</li>
        </ul>
    </article>
    <h3 class="delivery-pay__subhead">
        Lorem ipsum dolor sit amet
    </h3>
    <img src="@@webRoot/static/img/delivery-piter.png" alt="Lorem ipsum dolor sit">
    <article class="text-blog">
        <h3>
            Lorem ipsum dolor sit amet
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores cupiditate, esse, eveniet excepturi exercitationem id, impedit inventore nam nihil obcaecati recusandae reiciendis ut voluptatibus!
        </p>
        <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
        </ul>
    </article>
    <article class="text-blog">
        <h3>
            Lorem ipsum dolor sit amet
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores cupiditate, esse, eveniet excepturi exercitationem id, impedit inventore nam nihil obcaecati recusandae reiciendis ut voluptatibus!
        </p>
        <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
        </ul>
    </article>
    <img src="@@webRoot/static/img/delivery-country.png" alt="Lorem ipsum dolor sit">
    <article class="text-blog">
        <h3>
            Lorem ipsum dolor sit amet
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores cupiditate, esse, eveniet excepturi exercitationem id, impedit inventore nam nihil obcaecati recusandae reiciendis ut voluptatibus!
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, sit.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <ul>
            <li><b>Lorem</b></li>
            <li><b>Lorem</b></li>
            <li><b>Lorem</b></li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, sit.</p>
        <ul>
            <li><b>Lorem</b></li>
            <li><b>Lorem</b></li>
            <li><b>Lorem</b></li>
        </ul>
    </article>
    <article class="text-blog">
        <h3>
            Lorem ipsum dolor sit amet
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores autem debitis eius est expedita, ipsum labore laudantium libero magnam mollitia neque nisi nostrum optio placeat quasi qui, ratione repudiandae sapiente tempora unde, vel voluptates. Cumque, facere minima obcaecati odit quidem unde ut? A doloribus est laudantium placeat veritatis. Totam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis consequuntur cupiditate debitis dolores earum enim eos et eveniet excepturi fugit, impedit ipsam ipsum iste maiores modi nam nesciunt nulla optio possimus quas quidem quis quo ratione repellat rerum similique sit totam voluptas voluptatibus! Commodi cumque dolores quae vitae. Odit?</p>
    </article>
</section>