<section class="container employees">
    <h2>Our team</h2>

    <div class="employees__cards">
        <article class="card employees__card">
            <div class="card__header">
                <img src="@@webRoot/static/img/my.jpg" alt="">
            </div>
            <div class="card__body">
                <p class="employees__rank"> Not worker </p>
                @@include('address_phone.html',{addClass:'employees__address'})
                @@include('messangers.html',{addClassMessangers:'employees__messangers'})
            </div>

        </article>
        <article class="card employees__card">
            <div class="card__header">
                <img src="@@webRoot/static/img/my.jpg" alt="">
            </div>
            <div class="card__body">
                <p class="employees__rank"> Not worker </p>
                @@include('address_phone.html',{addClass:'employees__address'})
                @@include('messangers.html',{addClassMessangers:'employees__messangers'})
            </div>

        </article>

    </div>


</section>