<div class="container feedback">
    <form action="#" class="form-min feedback__form">
        <h3>
            Distribution:
        </h3>
        <label>имя <br><input type="text" name="name" class="pole-input"></label><br>
        <label>Email<br><input type="email" name="name" class="pole-input"></label><br>
        <button class="pole-input"> Send
            <svg width="40" height="5" viewBox="0 0 40 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.0458 0.996094L38.5791 2.49609L36.0458 3.99609V2.49609V0.996094Z" fill="white"/>
                <path d="M0.579102 2.49609H38.5791M38.5791 2.49609L36.0458 0.996094V2.49609V3.99609L38.5791 2.49609Z" stroke="white"/>
            </svg>
        </button>
    </form>
    <img src="@@webRoot/static/img/Group%20278.png" alt="Рассылка" >
</div>