<footer class="footer">
  <div class="footer__main">
    <article class="footer__contacts">
      <a href="#">
        <img src="@@webRoot/static/img/image%2029.png" alt="icon">
      </a>
      <address class="footer__address address">
        <img src="@@webRoot/static/img/icons/phone.svg" title="number"  alt="number">
        <p>8(999) 159 69-67</p>
      </address>
      <address  class="footer__address address">
        <img src="@@webRoot/static/img/icons/clock.svg" title="clock" alt="clock">
        <div><p>MON-SUN</p> <p>10:00 - 19:00</p></div>
      </address>
    </article>
    <nav class="footer__column">
      <h4>About store</h4>
      <ul class="main-text">
        <li><a href="#">News</a></li>
        <li><a href="#">How to buy</a></li>
        <li><a href="#">Delivery</a></li>
        <li><a href="#">About store</a></li>
        <li><a href="#">Guarantee</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
      <h4>News</h4>
      @@include('messangers.html',{addClassMessangers:'footer__links'})
    </nav>
    <nav class="footer__column">
      <h4>Catalog</h4>
      <ul class="main-text">
        <li><a href="#">Accessories for outboard motors</a></li>
        <li><a href="#">Boat accessories</a></li>
        <li><a href="#">Propellers</a></li>
        <li><a href="#">Another</a></li>
        <li><a href="#">Spares</a></li>
        <li><a href="#">PVC boats and accessories</a></li>
        <li><a href="#">Boat motors</a></li>
        <li><a href="#">hardware stainless</a></li>
      </ul>
      <a href="#">Trailers, trailer accessories</a></p>
      <a href="#">lubrication</a></p>
    </nav>
  </div>
</footer>
<div class="footer__down big-strip ">
  <div id="button-up" class="footer__click-up" title="наверх">Up
    <img src="@@webRoot/static/img/icons/arrow%20up.svg" alt="">
  </div>
  <p>@lorem, 2021</p>
</div>