<section class="container form-section">
    <h2>Registration</h2>
    <form action="#" class="form-min form-max">
        <h3 class="">
            Account:
        </h3>
        <label><p>Surname:<span>*</span></p>
            <input type="text" name="name" class="pole-input">
        </label>
        <label><p>First name:<span>*</span></p>
            <input type="text" name="password" class="pole-input">
        </label>
        <label><p>phone:<span>*</span></p>
            <input type="text" name="name" class="pole-input">
        </label>
        <label><p>Email:<span>*</span></p>
            <input type="email" name="password" class="pole-input">
        </label>
        <label><p>Password:<span>*</span></p>
            <input type="text" name="name" class="pole-input">
        </label>
        <label><p>Confirm the password:<span>*</span></p>
            <input type="text" name="password" class="pole-input">
        </label>
    </form>
    <form action="#" class="form-min form-max">
        <h3 class="">
            Our address:
        </h3>
        <label><p>Side:<span>*</span></p>
            <input type="text" name="county" class="pole-input">
        </label>
        <label><p>Region:<span>*</span></p>
            <input type="text" name="region" class="pole-input">
        </label>
        <label><p>City:<span>*</span></p>
            <input type="text" name="city" class="pole-input">
        </label>
        <label><p>Index:<span>*</span></p>
            <input type="text" name="index" class="pole-input">
        </label>
        <label><p>Address:<span>*</span></p>
            <input type="text" name="address" class="pole-input">
        </label>
        <div class="form-max__radio-field">
            <p>Subscribe to news:</p>
            <label>Yes <input type="radio" name="is_get-news"></label>
            <label>no <input type="radio" name="is_get-news"></label>
        </div>

    </form>
    <button class="transition"> Continue
        <svg width="40" height="5" viewBox="0 0 40 5" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.0458 0.996094L38.5791 2.49609L36.0458 3.99609V2.49609V0.996094Z" fill="white"/>
            <path d="M0.579102 2.49609H38.5791M38.5791 2.49609L36.0458 0.996094V2.49609V3.99609L38.5791 2.49609Z" stroke="white"/>
        </svg>
    </button>
</section>

