<div class="container right-side">
    <article class="gray-table text-blog ">
        <h3>WELCOME DEAR BUYER!</h3>
        <p>You are on the website of the MotoBot online store, one of the largest dealers of goods for outdoor activities in the market of St. Petersburg and the Leningrad Region.</p>

        <p>We are pleased to offer our customers the widest selection of PVC and inflatable boats, outboard motors, as well as products for fishing and recreation. Also in the assortment of our store are sports equipment, camping equipment and equipment.</p>

        <p>We work directly with the manufacturers of the goods presented on the site, which ensures the possibility of uninterrupted supplies and prompt execution of orders even in the midst of the tourist season. We constantly regularly replenish our range with new models, but at the same time we carefully monitor that all our products are of impeccable quality and long service life.</p>

        <p>We hope that the conditions we offer have interested you! We wish you happy shopping!</p>
    </article>
</div>
