<head>
    <meta charset="utf-8" />
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title"
          content="Учебный сайт.">
    <meta property="og:image" content="http://best-site/thumbnail.jpg">
    <meta property="og:url" content="@@webRoot/index.htm">
    <meta name="og:author" content="xopowen"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content='project of learn, xopowen'>
    <meta http-equiv="Cache-control" content="public">

    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using gulp"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="@@webRoot/static/css/main.css" rel="stylesheet" >
    <script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=aae3f3e4-374f-420f-a948-677e1a58f577
" type="text/javascript"></script>
  <script defer src="@@webRoot/static/js/main.js"></script>
</head>