<section class="container delivery-pay list-forms">
    <form action="#" class="form-min form-max list-forms__main">
        <h3 class="">
            buyer:
        </h3>
        <label><p>Second Name:<span>*</span></p>
            <input type="text" name="name" class="pole-input">
        </label>
        <label><p>First and middle name:<span>*</span></p>
            <input type="text" name="password" class="pole-input">
        </label>
        <label><p>phone:<span>*</span></p>
            <input type="text" name="name" class="pole-input">
        </label>
        <label><p>Email:<span>*</span></p>
            <input type="email" name="password" class="pole-input">
        </label>
        <div class="form-max__radio-field">
            <p>subscribe to news:</p>
            <label>yes <input type="radio" name="is_registration"></label>
            <label>no <input type="radio" name="is_registration"></label>
        </div>
    </form>
    <form action="#" class="form-min form-max">
        <h3 class="">
            Delivery method:
        </h3>
        <div class="form-max__radio-field">
            <label> <input type="radio" name="delivery_method" value="1">Pickup from the store Volgo-Donskoy pr., 1E - free of charge</label>
            <label><input type="radio" name="delivery_method" value="2"> By courier in St. Petersburg - free of charge</label>
            <label><input type="radio" name="delivery_method" value="3">Transport company</label>
        </div>
    </form>
    <form action="#" class="form-min form-max">
        <h3 class="">
            Payment method:
        </h3>
        <div class="form-max__radio-field">
            <label><input type="radio" name="delivery_method" value="1">Payment in cash or by credit card upon receipt</label>
            <label><input type="radio" name="delivery_method" value="1">Payment by credit card on the site</label>
            <label><input type="radio" name="delivery_method" value="1">Bank payment by receipt</label>
            <label><input type="radio" name="delivery_method" value="1">Purchase on credit</label>
        </div>
    </form>
    <form action="#" class="form-min form-max">
        <h3 class="">
            Our address:
        </h3>
        <label><p>Side:<span>*</span></p>
            <input type="text" name="county" class="pole-input">
        </label>
        <label><p>Region:<span>*</span></p>
            <input type="text" name="region" class="pole-input">
        </label>
        <label><p>City:<span>*</span></p>
            <input type="text" name="city" class="pole-input">
        </label>
        <label><p>Index:<span>*</span></p>
            <input type="text" name="index" class="pole-input">
        </label>
        <label><p>Address:<span>*</span></p>
            <input type="text" name="address" class="pole-input">
        </label>
    </form>
    <form action="#" class="form-min form-max list-forms__max-w">
        <h3 class="">
            Comment:
        </h3>

        <textarea  name="comment" class="pole-input pole-input_textarea"></textarea>

    </form>
    <button class="transition"  aria-label="Continue"> Continue
        <svg width="40" height="5" viewBox="0 0 40 5" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.0458 0.996094L38.5791 2.49609L36.0458 3.99609V2.49609V0.996094Z" fill="white"/>
            <path d="M0.579102 2.49609H38.5791M38.5791 2.49609L36.0458 0.996094V2.49609V3.99609L38.5791 2.49609Z" stroke="white"/>
        </svg>
    </button>
</section>