
<div class="over-page" id ='login-form'>
    <button class="over-page__close"><img src="@@webRoot/static/img/icons/x.svg"></button>
    <form action="#" class="form-min  form-login">
            <h3 class="">
                Вход:
            </h3>
            <label>Email<br>
                <input type="email" name="name" class="pole-input">
            </label><br>
            <label>Пароль<br>
                <input type="text" name="password" class="pole-input">
            </label><br>
            <a href="#" class="form-min__link">Забыли пароль</a>
            <button class="pole-input"> отправить
                <svg width="40" height="5" viewBox="0 0 40 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M36.0458 0.996094L38.5791 2.49609L36.0458 3.99609V2.49609V0.996094Z" fill="white"/>
                    <path d="M0.579102 2.49609H38.5791M38.5791 2.49609L36.0458 0.996094V2.49609V3.99609L38.5791 2.49609Z" stroke="white"/>
                </svg>
            </button>
            <a href="#" class="form-min__link form-min__link_center">Забыли пароль</a>
        </form>
</div>
