<article class="messangers @@addClassMessangers ">
    <a  href="#" class="footer__link-messangers"><img src="@@webRoot/static/img/icons/vk.png" alt="icon" ></a>
    <a href="#" class="footer__link-messangers"><img src="@@webRoot/static/img/icons/telegram.png" alt="icon"></a>
    <a href="#" class="footer__link-messangers"><img src="@@webRoot/static/img/icons/instagram.png" alt="icon"></a>
    <a href="#" class="footer__link-messangers"><img src="@@webRoot/static/img/icons/watsap.png" alt="icon"></a>
</article>