<div class="over-page " id ='basket-from'>
    <button class="over-page__close"><img src="@@webRoot/static/img/icons/x.svg"></button>
    <article class=" text-blog basket basket_micro">
        <h3>Basket</h3>
        <p class="basket__subtext">Lorem ipsum dolor <b>sit</b> amet.</p>
        <div class="basket__item">
            <div class="basket__cells">
                <img src="@@webRoot/static/img/1-200x200%202.png">
                <p><b>Lorem ipsum dolor sit amet.</b></p>
                <p><b><span>43</span><span>000</span><span>р.</span></b></p>
            </div>
        </div>
        <p >итого:<span>43</span><span>000</span><span>р.</span></p>
        <div class="basket__buttons">
            <button class="transition"> continue
                <svg width="40" height="5" viewBox="0 0 40 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M36.0458 0.996094L38.5791 2.49609L36.0458 3.99609V2.49609V0.996094Z" fill="white"/>
                    <path d="M0.579102 2.49609H38.5791M38.5791 2.49609L36.0458 0.996094V2.49609V3.99609L38.5791 2.49609Z" stroke="white"/>
                </svg>
            </button>
            <button class="transition"> continue
                <svg width="40" height="5" viewBox="0 0 40 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M36.0458 0.996094L38.5791 2.49609L36.0458 3.99609V2.49609V0.996094Z" fill="white"/>
                    <path d="M0.579102 2.49609H38.5791M38.5791 2.49609L36.0458 0.996094V2.49609V3.99609L38.5791 2.49609Z" stroke="white"/>
                </svg>
            </button>
        </div>
    </article>

</div>