
<section class="container products ">
    <ul class="products__filters">
            <li  class="products__filter products__filter_active" id = 'new-products'>
              new arrivals
            </li>
            <li  class="products__filter" id='popular-products'>Popular</li>
            <li  class="products__filter" id='stock-products'>Stock</li>
        </ul>
    <div class=" products__body products__body_active" data-filter = 'new-products'>
            <article class="products__info info">
                <div class="info__messangers">
                    <h3>We are in social networks:</h3>
                    @@include('messangers.html',{addClassMessangers:'info__links'})
                </div>
                <article class="info__main">
                    <h3>Helpful information:</h3>
                    <label><input type="checkbox"> About store</label>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cum cupiditate dicta dolorem dolores esse impedit iure maxime mollitia obcaecati perferendis praesentium provident quaerat quidem ratione ut, vel veritatis.</p>
                </article>
                <a href="#" class="info__button">
                    <p class="transition__text">Go to directory
                        <svg width="39" height="5" viewBox="0 0 39 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.4667 1L38 2.5L35.4667 4V2.5V1Z" fill="black"/>
                            <path d="M0 2.5H38M38 2.5L35.4667 1V2.5V4L38 2.5Z" stroke="black"/>
                        </svg>
                    </p>
                </a>
            </article>
            <article class="products__card card">
                <div class="card__header">
                    <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
                </div>
                <p class="card__head products__head">
                   933 А2 М 6Х25
                </p>
                <button  aria-label="Buy" class="card__button products__button">
                    Buy
                </button>
            </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>

    </div>
    <div class=" products__body" data-filter = 'popular-products'>
        <article class="products__info info">
            <div class="info__messangers">
                <h3>We are in social networks:</h3>
                @@include('messangers.html',{addClassMessangers:'info__links'})
            </div>
            <article class="info__main">
                <h3>Helpful information:</h3>
                <label><input type="checkbox"> About store</label>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cum cupiditate dicta dolorem dolores esse impedit iure maxime mollitia obcaecati perferendis praesentium provident quaerat quidem ratione ut, vel veritatis.</p>
            </article>
            <a href="#" class="info__button">
                <p class="transition__text">Go to directory
                    <svg width="39" height="5" viewBox="0 0 39 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35.4667 1L38 2.5L35.4667 4V2.5V1Z" fill="black"/>
                        <path d="M0 2.5H38M38 2.5L35.4667 1V2.5V4L38 2.5Z" stroke="black"/>
                    </svg>
                </p>
            </a>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>

    </div>
    <div class=" products__body" data-filter = 'stock-products'>
        <article class="products__info info">
            <div class="info__messangers">
                <h3>We are in social networks:</h3>
                @@include('messangers.html',{addClassMessangers:'info__links'})
            </div>
            <article class="info__main">
                <h3>Helpful information:</h3>
                <label><input type="checkbox"> About store</label>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda cum cupiditate dicta dolorem dolores esse impedit iure maxime mollitia obcaecati perferendis praesentium provident quaerat quidem ratione ut, vel veritatis.</p>
            </article>
            <a href="#" class="info__button">
                <p class="transition__text">Go to directory
                    <svg width="39" height="5" viewBox="0 0 39 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35.4667 1L38 2.5L35.4667 4V2.5V1Z" fill="black"/>
                        <path d="M0 2.5H38M38 2.5L35.4667 1V2.5V4L38 2.5Z" stroke="black"/>
                    </svg>
                </p>
            </a>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>
        <article class="products__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/Traced%20layer.png" alt="card-product">
            </div>
            <p class="card__head products__head">
                933 А2 М 6Х25
            </p>
            <button  aria-label="Buy" class="card__button products__button">
                    Buy
             </button>
        </article>

    </div>
    <div class="products__pagination pagination" >
        <ul class="pagination__body main-text">
            <li class="pagination__arrow pagination__preview" title="preview">
                    <svg width="39" height="5" viewBox="0 0 39 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.53333 4L1 2.5L3.53333 1V2.5V4Z" fill="#ABB2B4"/>
                        <path d="M39 2.5L1 2.5M1 2.5L3.53333 4V2.5V1L1 2.5Z" stroke="#ABB2B4"/>
                    </svg>
                back
            </li>
            <li class="pagination__page-nemper">1</li>
            <li class="pagination__arrow pagination__next" title="next">
                forward
                <svg width="39" height="5" viewBox="0 0 39 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M35.4667 1L38 2.5L35.4667 4V2.5V1Z" fill="#363636"/>
                    <path d="M0 2.5H38M38 2.5L35.4667 1V2.5V4L38 2.5Z" stroke="#363636"/>
                </svg>
            </li>
        </ul>
    </div>
</section>
