<section class="container reviews">
    <h2>Latest reviews</h2>
    <div class="reviews__body">
        <article class="reviews__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/1-200x200%202.png" alt="review">
            </div>
            <div class="card__body">
                <h3 class="reviews__head card__head">
                 Boat motor
                </h3>
                <div class="reviews__text">
                   Operating 3 seasons
                </div>
            </div>
        </article>
        <article class="reviews__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/1-200x200%202.png" alt="review">
            </div>
            <div class="card__body">
                <h3 class="reviews__head card__head">
                    Boat motor
                </h3>
                <div class="reviews__text">
                    Operating 3 seasons
                </div>
            </div>
        </article>
        <article class="reviews__card card">
            <div class="card__header">
                <img src="@@webRoot/static/img/1-200x200%202.png" alt="review">
            </div>
            <div class="card__body">
                <h3 class="reviews__head card__head">
                    Boat motor
                </h3>
                <div class="reviews__text">
                    Operating 3 seasons
                </div>
            </div>
        </article>
    </div>
</section>